#landing-page {
    background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/backgrounds/landing.jpg");
    background-size:cover;
    background-position: center;
    padding-bottom: 60px;
    padding-top: 60px;
}
#menu-list{
  color:#FFFFFF;
}
#breakfast{
  background-image:  url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/foodtop/breakfast.jpg");
  background-size: cover;
}
#lunch{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/foodtop/lunch.jpg");
  background-size: cover;
}
#dinner{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/foodtop/dinner.jpg");
  background-size: cover;
}
#party{
  background-color: #F15A29;
}
.logo{
align-items: center;
justify-content: center;
margin: auto;
display :flex
}
.logo-word{
  text-align: center;
  color: white;
  font-size: 40px;
  font-family:serif;
  font-weight: lighter;
}
#menu-list{
  padding-bottom: 200px;
}
.well{
  cursor: e-resize;
}
#fastFood{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/backgrounds/foodsBg.jpg");
}
