#landing-page {
    background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/backgrounds/landing.jpg");
    background-size:cover;
    background-position: center;
    padding-bottom: 60px;
    padding-top: 60px;
    padding-left: 40px;
    padding-right: 40px;
}
#menu-list{
  color:#FFFFFF;
}
#breakfast{
  background-image:  url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/foodtop/breakfast.jpg");
  background-size: cover;
  padding-bottom: 6%;
  font-size: 25px;
  text-align:center;
  padding-top: 6%;
  font-style: italic;
  font-family: serif;
}
#breakfast:hover{
  color: #070707;
}
#lunch{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/foodtop/lunch.jpg");
  background-size: cover;
  padding-bottom: 6%;
  font-size: 25px;
  text-align: center;
  padding-top: 6%;
  font-style: italic;
  font-family: serif;
}
#lunch:hover{
  color: #070707;
}
#dinner{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/foodtop/dinner.jpg");
  background-size: cover;
  padding-bottom: 6%;
  font-size: 25px;
  text-align: center;
  padding-top: 6%;
  font-style: italic;
  font-family: serif;
}
#dinner:hover{
  color:#070707;
}
.logo{
align-items: center;
justify-content: center;
margin: auto;
display :flex
}
.logo-word{
  text-align: center;
  color: white;
  font-size: 40px;
  font-family:serif;
  font-weight: lighter;
}
#menu-list{
  padding-bottom:100px;
}
#fastFood{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/backgrounds/foodsBg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 180px;
  padding-bottom: 180px;
}
.card-body h5 {
  display: inline;
  padding-right: 50px;
}
.card{
  margin: 0 auto;
  float: none;
  margin-top: 0px;
  padding-top:20px;
  padding-bottom: 30px;
  margin-bottom: 10px;
}
.card-body h5:first-child{
  color: #F15A29;
}
#customer{
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  box-shadow: 0px 0px 23px #d8d3d2;
  font-size: 19px;
  margin-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: 110px;
  margin-right: 110px;
  margin-top: 40px;
}
#deliveries{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/backgrounds/subscribe.jpg");
  background-size:cover;
  background-position:center;
  padding-top: 150px;
  padding-bottom: 150px;
  text-align: center;
}
#deliveries h4{
  color:white;
  font-size: 40px;
  padding-left: 20%;
}
#footerlogos{
  background-color: #F15A29;
}
#delicious{
  padding-bottom: 80px;
  margin-left: 280px;
  padding-top: 60px;
}
#Happy{
  padding-bottom: 5%;
  height: 115px;
  font-size: 27px;
  color:black;
  padding-top: 10%;
  text-align: center;
  padding-left: 18%;
  background-color: #eae3e1;
  font-family: serif;
}
#party{
  background-color: #F15A29;
  text-align: center;
  padding-bottom: 10%;
  height: 115px;
  font-size: 27px;
  padding-top: 10%;
  text-align: center;
  padding-left: 18%;
  font-family: serif;
}
#drinking{
  padding-bottom: 100px;
  margin-left: 250px;
}
#juice{
  box-shadow: 10px solid;
}
#footerlogos{
  padding-top: 150px;
  padding-bottom: 150px;
}
.container-fluid{
  padding-bottom: 50px;
  padding-top: 60px;
}
.me{
  box-shadow: 0px 0px 20px #F15A29;
}
.well{
  float:left;
}
#lorem{
  font-size: 17px;
  font-family: sans-serif;
  margin-left:60px;
  font-weight: 500;
}
#lorem h1{
  font-family: serif;
  font-weight: bold;
}
#lorem h4{
  font-weight: 600;
}
#milk{
  text-align: right;
  margin-right: 60px;
  margin-left: 50px;
}
#milk h1{
  font-weight:900;
  font-family: sans-serif;
  padding: 5px;
  font-size: 45px;
}
#milk h4{
  font-weight:600;
}
#milk p{
  font-size: 17px;
}
.glass{
  left:50px;
}
img.chickenBurger{
  left: 20%;
  position: relative;
}
img.beefBurger{
  left: 23%;
  position: relative;
}
img.chickenPizza{
  left: 26%;
  position: relative;
}
