#landing-page {
    background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/backgrounds/landing.jpg");
    background-size:cover;
    background-position: center;
    padding-bottom: 60px;
    padding-top: 60px;
}
#menu-list{
  color:#FFFFFF;
}
#breakfast{
  background-image:  url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/foodtop/breakfast.jpg");
  background-size: cover;
  padding-bottom: 6%;
  font-size: 25px;
  text-align:center;
  padding-top: 6%;
  font-style: italic;
  font-family: serif;

}
#lunch{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/foodtop/lunch.jpg");
  background-size: cover;
  padding-bottom: 6%;
  font-size: 25px;
  text-align: center;
  padding-top: 6%;
  font-style: italic;
  font-family: serif;
}
#dinner{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/foodtop/dinner.jpg");
  background-size: cover;
  padding-bottom: 6%;
  font-size: 25px;
  text-align: center;
  padding-top: 6%;
  font-style: italic;
  font-family: serif;
}
.logo{
align-items: center;
justify-content: center;
margin: auto;
display :flex
}
.logo-word{
  text-align: center;
  color: white;
  font-size: 40px;
  font-family:serif;
  font-weight: lighter;
}
#menu-list{
  padding-bottom:50px;
}
.well{
  cursor: e-resize;
}
#fastFood{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/backgrounds/foodsBg.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.card-body h5 {
  display: inline;
  padding-right: 50px;
}
.card{
  margin: 0 auto;
  float: none;
  margin-top: 10px;
}
.card-body h5:first-child{
  color: #F15A29;
}
#customer{
  text-align: center;
}
#deliveries{
  background-image: url("/home/student/Documents/moringa-school-projects/mpft-ip/assets/backgrounds/subscribe.jpg");
  background-size:cover;
  background-position:center;
  padding-top: 30px;
  padding-bottom: 30px;
}
#deliveries h4{
  color:white;
  text-align: center;
}
#footerlogos{
  background-color: #F15A29;
}
.drinks{
  box-shadow:
}
#delicious{
  border: 10px solid #e5d9;
}
#Happy{
  padding-bottom: 5%;
  height: 115px;
  font-size: 27px;
  color:black;
  padding-top: 10%;
  text-align: center;
  padding-left: 18%;
  background-color: #eae3e1;
  font-family: serif;
}
#party{
  background-color: #F15A29;
  text-align: center;
  padding-bottom: 10%;
  height: 115px;
  font-size: 27px;
  padding-top: 10%;
  text-align: center;
  padding-left: 18%;
  font-family: serif;
}
